@model Forum.ViewModel.PostEditVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Posts", new { threadid = Model.threadid }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.post.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.post.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post.PostTitle)
            @Html.ValidationMessageFor(model => model.post.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.post.PostText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post.PostText)
            @Html.ValidationMessageFor(model => model.post.PostText)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new {threadidd = Model.threadid})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
