@model Forum.ViewModel.PostVM

@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>

<table class ="posts">

    <tr><th>@Html.DisplayTextFor(model => Model.thread.ThreadTitle)</th></tr>
    @foreach (var item in Model.posts)
    {
        if(item.ThreadID == Model.threadid)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PostText)
                </td>
                @if (item.PUserID == this.User.Identity.Name)
                {
                <td>
                    @using (Html.BeginForm("Delete", "Posts", new { id = item.PostID, threadid = Model.threadid }, FormMethod.Post))
                    {
                          <input type="submit" value="Delete"/>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID, threadid = Model.threadid })
                </td>
                }
            </tr>
        }
    }
</table>
@using (Html.BeginForm("Create", "Posts", new {threadid = Model.threadid}, FormMethod.Post,  null  ))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.post.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post.PostTitle)
            @Html.ValidationMessageFor(model => model.post.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.post.PostText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.post.PostText)
            @Html.ValidationMessageFor(model => model.post.PostText)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@*@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(modelItem => model.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTitle)
            @Html.ValidationMessageFor(model => model.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostText)
            @Html.ValidationMessageFor(model => model.PostText)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}